<!DOCTYPE >
<html>
	<head>
		<title></title>
	</head>
	<body>
		<!--<div>
			<%= name %>
			<%= json.arr[0].name %>
		</div>-->
		<% for(var i=0;i<json.arr.length;i++){ %>
			<div><%=json.arr[i].name%></div>
		<% } %>
	</body>
</html>